@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-lg font-medium;
  }
  h5 {
    @apply lg:text-base font-medium;
  }
}

@layer components {
  .hover-link {
    @apply rounded hover:bg-gray-200 dark:hover:text-white dark:hover:bg-gray-600;
  }
}

body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
}

#root {
  position: relative;
}

.user-conteiner,
.main-page-container,
.login-page-container,
.users-page-container {
  height: calc(100vh - theme('spacing.14'));
}

.tableTW > :not(caption) > * > * {
  padding: 1rem 0.5rem;
  background-color: transparent;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px transparent;
}
